<div class='divider'></div>
<div class='section'>
  <h5>{{item_name}}</h5>
  <p><a class='white-text' href='{{website}}' target='_blank'>Visit Website</a><button
      class='secondary-content material-icons trash_btn'
      data-id='{{id}}'
    >delete</button></p>
  <p>
  </p>
</div>