<!-- Modal Trigger -->
<div class='row left'>
  <button
    class='modal-trigger btn waves-effect waves-light hoverable'
    onclick='toggleModal'
    data-target='modalComment'
  >Add Comment
  <i class='material-icons right'>chat</i>
  </button>
</div>
